---
import "../styles/AboutPage.css";
---

<div class="about-text">
    <a href="/" class="allPostsButton"><strong>Back to all posts</strong></a>
    <p>
        Simple blog to display my thoughts. Not much to say to be honest.
        <br />
        Made with &lt;3 by abel.
        <br />
        2024
    </p>
</div>
